@font-face {
  font-family: 'Heebo';
  font-weight: 900;
  font-style: normal;
  src: local("Heebo-Black"), url("../fonts/Heebo/Heebo-Black.woff2") format("woff2"), url("../fonts/Heebo/Heebo-Black.woff") format("woff"); }

@font-face {
  font-family: 'Heebo';
  font-weight: bold;
  font-style: normal;
  src: local("Heebo Bold"), local("Heebo-Bold"), url("../fonts/Heebo/Heebo-Bold.woff2") format("woff2"), url("../fonts/Heebo/Heebo-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Heebo';
  font-weight: 500;
  font-style: normal;
  src: local("Heebo-Medium"), url("../fonts/Heebo/Heebo-Medium.woff2") format("woff2"), url("../fonts/Heebo/Heebo-Medium.woff") format("woff"); }

@font-face {
  font-family: 'Heebo';
  font-weight: 800;
  font-style: normal;
  src: local("Heebo-ExtraBold"), url("../fonts/Heebo/Heebo-ExtraBold.woff2") format("woff2"), url("../fonts/Heebo/Heebo-ExtraBold.woff") format("woff"); }

@font-face {
  font-family: 'Heebo';
  font-weight: 300;
  font-style: normal;
  src: local("Heebo-Light"), url("../fonts/Heebo/Heebo-Light.woff2") format("woff2"), url("../fonts/Heebo/Heebo-Light.woff") format("woff"); }

@font-face {
  font-family: 'Heebo';
  font-weight: normal;
  font-style: normal;
  src: local("Heebo-Regular"), url("../fonts/Heebo/Heebo-Regular.woff2") format("woff2"), url("../fonts/Heebo/Heebo-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Heebo';
  font-weight: 100;
  font-style: normal;
  src: local("Heebo-Thin"), url("../fonts/Heebo/Heebo-Thin.woff2") format("woff2"), url("../fonts/Heebo/Heebo-Thin.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-style: normal;
  src: local("Helvetica Neue Condensed Bold"), local("HelveticaNeueBoldCondensed"), url("../fonts/HelveticaNeue/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueBoldCondensed.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 900;
  font-style: normal;
  src: local("Helvetica Neue Condensed Black"), local("HelveticaNeueBlackCondensed"), url("../fonts/HelveticaNeue/HelveticaNeueBlackCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueBlackCondensed.woff") format("woff"); }

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: bold;
  font-style: normal;
  src: local("HelveticaNeueCyr-Bold"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff") format("woff"); }

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 300;
  font-style: normal;
  src: local("HelveticaNeueCyr-Light"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff") format("woff"); }

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 500;
  font-style: normal;
  src: local("HelveticaNeueCyr-Medium"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff") format("woff"); }

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 500;
  font-style: italic;
  src: local("HelveticaNeueCyr-MediumItalic"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-MediumItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-MediumItalic.woff") format("woff"); }

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 300;
  font-style: italic;
  src: local("HelveticaNeueCyr-LightItalic"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-LightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-LightItalic.woff") format("woff"); }

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 900;
  font-style: italic;
  src: local("HelveticaNeueCyr-HeavyItalic"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-HeavyItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-HeavyItalic.woff") format("woff"); }

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 900;
  font-style: normal;
  src: local("HelveticaNeueCyr-Black"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Black.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Black.woff") format("woff"); }

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 900;
  font-style: normal;
  src: local("HelveticaNeueCyr-Heavy"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Heavy.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Heavy.woff") format("woff"); }

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 500;
  font-style: italic;
  src: local("HelveticaNeueCyr-Italic"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Italic.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Italic.woff") format("woff"); }

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: normal;
  font-style: normal;
  src: local("HelveticaNeueCyr-Roman"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff") format("woff"); }

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 900;
  font-style: italic;
  src: local("HelveticaNeueCyr-BlackItalic"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-BlackItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-BlackItalic.woff") format("woff"); }

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 200;
  font-style: italic;
  src: local("HelveticaNeueCyr-UltraLightItalic"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-UltraLightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-UltraLightItalic.woff") format("woff"); }

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: bold;
  font-style: italic;
  src: local("HelveticaNeueCyr-BoldItalic"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 100;
  font-style: italic;
  src: local("HelveticaNeueCyr-ThinItalic"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-ThinItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-ThinItalic.woff") format("woff"); }

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 200;
  font-style: normal;
  src: local("HelveticaNeueCyr-UltraLight"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-UltraLight.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-UltraLight.woff") format("woff"); }

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 100;
  font-style: normal;
  src: local("HelveticaNeueCyr-Thin"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Thin.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Thin.woff") format("woff"); }

body {
  font-family: Heebo, "Roboto Light", sans-serif;
  position: relative; }

a {
  text-decoration: none; }

.header__container {
  padding: 18px 0; }

.header__logo {
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.0676924px;
  cursor: auto;
  color: #1F0E93; }

.menu__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  padding: 0 20px;
  text-align: center;
  letter-spacing: 0.060171px;
  color: #B2B2CD; }

.intro__wrapper {
  padding: 96px 0 92px; }

.intro__text {
  max-width: 748px;
  margin: 0 auto 40px; }

.intro__input-wrapper {
  max-width: 320px;
  width: 320px;
  position: relative;
  height: 100%;
  display: flex; }

.intro__input {
  padding: 0 70px 0 32px; }

.intro__icon {
  position: absolute;
  width: 20px;
  height: 16px;
  right: 32px;
  top: 19px; }
  .intro__icon img {
    vertical-align: 0;
    width: 20px;
    height: 16px; }

.intro__btn {
  background: #FFEEEE;
  border-radius: 4px;
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.0526496px;
  color: #EC4F4F;
  padding: 17px 48px; }

.promo {
  margin-top: 92px; }
  .promo .img {
    width: 1200px;
    height: 100%; }

.features {
  background-image: url("../img/background.png");
  margin-bottom: 65px; }
  .features-row {
    margin-right: 100px; }
  .features__main {
    width: 370px; }
    .features__main .title, .features__main .text {
      text-align: left; }
    .features__main .title {
      margin-bottom: 20px; }
    .features__main .text {
      margin-bottom: 110px; }
  .features__photo {
    width: 280px;
    height: 280px; }
  .features__img-wrapper {
    margin-bottom: 32px; }
  .features__card {
    max-width: 253px;
    margin-right: 50px; }
    .features__card:first-of-type {
      padding-top: 130px; }
    .features__card-img-md {
      transform: scale(2);
      transform-origin: 0 0; }
    .features__card-body {
      padding-top: 32px; }
    .features__card-title {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.0676924px;
      margin-bottom: 25px; }
      .features__card-title-violet {
        color: #3535C7; }
      .features__card-title-orange {
        color: #F86B27; }
      .features__card-title-red {
        color: #D23244; }
      .features__card-title-blue {
        color: #2B85D7; }
    .features__card-text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 25px;
      color: #8D88A5; }
    .features__card-link {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.0526496px;
      text-decoration-line: underline; }
      .features__card-link-violet {
        color: #1F0E93; }
      .features__card-link-orange {
        color: #F86B27; }
      .features__card-link-red {
        color: #D23244; }
      .features__card-link-blue {
        color: #2B85D7; }

.subtitle {
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .subtitle-red {
    color: #EC4F4F; }
  .subtitle-gray {
    color: #A1A1A1; }
  .subtitle-orange {
    color: #F86B27; }

.title {
  font-style: normal;
  font-weight: 300;
  font-size: 42px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.157949px;
  color: #FFFFFF; }
  .title-navy {
    color: #1F0E93; }
  .title-green {
    color: #0E936E; }
  .title-orange {
    color: #F86B27; }
  .title-sm {
    font-size: 32px; }
  .title-white {
    color: #FFFFFF; }

.text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.0676924px; }
  .text-gray {
    color: #B2B2CD; }
  .text-dark-gray {
    color: #8D88A5; }
  .text-white {
    color: #FFFFFF; }

.testimonials__card {
  max-width: 360px; }

.testimonials__text {
  text-align: left;
  margin-bottom: 62px;
  position: relative; }
  .testimonials__text:before {
    content: "";
    position: absolute;
    left: -97px;
    top: 10px;
    background-image: url("../img/icons/testimonial-ico.svg");
    width: 67px;
    height: 58px;
    background-size: 67px 58px; }

.testimonials__subtitle {
  text-align: left;
  margin-bottom: 15px; }

.testimonials__name {
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.120342px;
  margin-bottom: 15px;
  color: #5F5A76;
  position: relative; }
  .testimonials__name:before {
    content: "";
    position: absolute;
    left: -74px;
    background-image: url("../img/icons/person-ico.svg");
    width: 44px;
    height: 58px;
    background-size: 44px 58px; }

.testimonials__photo {
  position: relative;
  overflow: hidden;
  padding: 0 0 70px 0; }
  .testimonials__photo:after {
    content: "";
    position: absolute;
    right: -180px;
    bottom: 0;
    width: 463px;
    height: 350px;
    background: linear-gradient(180deg, #8CF7F7 0%, #F76B1C 100%);
    border-radius: 50%;
    transform: rotate(5deg);
    background-size: 463px 350px; }

.socials__item {
  list-style: none;
  padding: 0 16px 0 0; }

.socials__link {
  height: 16px;
  width: 16px; }

.contact {
  padding-bottom: 234px;
  z-index: 1; }
  .contact__wrapper {
    margin-top: 60px;
    max-width: 588px;
    margin-left: 60px; }
    .contact__wrapper .subtitle, .contact__wrapper .title, .contact__wrapper .text {
      text-align: left; }
  .contact__icon {
    position: absolute;
    right: 34px;
    top: 19px; }
    .contact__icon-person {
      width: 12px;
      height: 16px; }
    .contact__icon-mail {
      width: 20px;
      height: 16px; }
    .contact__icon-message {
      position: absolute;
      width: 20px;
      height: 16px; }
    .contact__icon img {
      vertical-align: 0; }
  .contact__input-wrapper {
    position: relative;
    margin: 16px 0;
    display: flex; }
  .contact__input {
    padding: 16px 50px 16px 32px; }
  .contact__textarea {
    height: 170px; }
  .contact__btn {
    width: 280px;
    padding: 16px;
    margin: 16px 0;
    background: #FFE5D8;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #F86B27; }

.footer__wrapper {
  background-image: url("../img/footer-background.svg");
  background-repeat: no-repeat;
  background-size: 1276px 948px;
  padding: 134px 0 234px 470px;
  position: absolute;
  bottom: 0;
  z-index: -1; }
  .footer__wrapper .title, .footer__wrapper .text, .footer__wrapper .subtitle {
    text-align: left; }

.footer__logo {
  font-family: HelveticaNeue;
  font-size: 18px;
  line-height: 21px;
  color: #FAFAFA; }

.footer__copyright {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #D9B9D2; }

.form-control {
  background: #F2F0F6;
  box-shadow: inset 0px 0px 1px rgba(46, 32, 139, 0.23913);
  border-radius: 4px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.0538462px;
  color: #A09BB6; }

::placeholder {
  color: #A09BB6;
  font-weight: 300;
  font-size: 14px; }
