@font-face {
  font-family: 'Heebo';
  font-weight: 900;
  font-style: normal;
  src: local('Heebo-Black'),
  url('../fonts/Heebo/Heebo-Black.woff2') format('woff2'),
  url('../fonts/Heebo/Heebo-Black.woff') format('woff');
}

@font-face {
  font-family: 'Heebo';
  font-weight: bold;
  font-style: normal;
  src: local('Heebo Bold'), local('Heebo-Bold'),
  url('../fonts/Heebo/Heebo-Bold.woff2') format('woff2'),
  url('../fonts/Heebo/Heebo-Bold.woff') format('woff');

}

@font-face {
  font-family: 'Heebo';
  font-weight: 500;
  font-style: normal;
  src: local('Heebo-Medium'),
  url('../fonts/Heebo/Heebo-Medium.woff2') format('woff2'),
  url('../fonts/Heebo/Heebo-Medium.woff') format('woff');

}

@font-face {
  font-family: 'Heebo';
  font-weight: 800;
  font-style: normal;
  src: local('Heebo-ExtraBold'),
  url('../fonts/Heebo/Heebo-ExtraBold.woff2') format('woff2'),
  url('../fonts/Heebo/Heebo-ExtraBold.woff') format('woff');

}

@font-face {
  font-family: 'Heebo';
  font-weight: 300;
  font-style: normal;
  src: local('Heebo-Light'),
  url('../fonts/Heebo/Heebo-Light.woff2') format('woff2'),
  url('../fonts/Heebo/Heebo-Light.woff') format('woff');

}

@font-face {
  font-family: 'Heebo';
  font-weight: normal;
  font-style: normal;
  src: local('Heebo-Regular'),
  url('../fonts/Heebo/Heebo-Regular.woff2') format('woff2'),
  url('../fonts/Heebo/Heebo-Regular.woff') format('woff');

}

@font-face {
  font-family: 'Heebo';
  font-weight: 100;
  font-style: normal;
  src: local('Heebo-Thin'),
  url('../fonts/Heebo/Heebo-Thin.woff2') format('woff2'),
  url('../fonts/Heebo/Heebo-Thin.woff') format('woff');

}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-style: normal;
  src: local('Helvetica Neue Condensed Bold'), local('HelveticaNeueBoldCondensed'),
  url('../fonts/HelveticaNeue/HelveticaNeueBoldCondensed.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueBoldCondensed.woff') format('woff');

}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 900;
  font-style: normal;
  src: local('Helvetica Neue Condensed Black'), local('HelveticaNeueBlackCondensed'),
  url('../fonts/HelveticaNeue/HelveticaNeueBlackCondensed.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueBlackCondensed.woff') format('woff');

}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: bold;
  font-style: normal;
  src: local('HelveticaNeueCyr-Bold'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff') format('woff');

}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 300;
  font-style: normal;
  src: local('HelveticaNeueCyr-Light'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff') format('woff');

}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 500;
  font-style: normal;
  src: local('HelveticaNeueCyr-Medium'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff') format('woff');

}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 500;
  font-style: italic;
  src: local('HelveticaNeueCyr-MediumItalic'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-MediumItalic.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-MediumItalic.woff') format('woff');

}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 300;
  font-style: italic;
  src: local('HelveticaNeueCyr-LightItalic'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-LightItalic.woff') format('woff');

}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 900;
  font-style: italic;
  src: local('HelveticaNeueCyr-HeavyItalic'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-HeavyItalic.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-HeavyItalic.woff') format('woff');

}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 900;
  font-style: normal;
  src: local('HelveticaNeueCyr-Black'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Black.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Black.woff') format('woff');

}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 900;
  font-style: normal;
  src: local('HelveticaNeueCyr-Heavy'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Heavy.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Heavy.woff') format('woff');

}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 500;
  font-style: italic;
  src: local('HelveticaNeueCyr-Italic'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Italic.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Italic.woff') format('woff');

}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: normal;
  font-style: normal;
  src: local('HelveticaNeueCyr-Roman'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff') format('woff');

}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 900;
  font-style: italic;
  src: local('HelveticaNeueCyr-BlackItalic'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-BlackItalic.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-BlackItalic.woff') format('woff');

}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 200;
  font-style: italic;
  src: local('HelveticaNeueCyr-UltraLightItalic'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-UltraLightItalic.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-UltraLightItalic.woff') format('woff');

}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: bold;
  font-style: italic;
  src: local('HelveticaNeueCyr-BoldItalic'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic.woff') format('woff');

}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 100;
  font-style: italic;
  src: local('HelveticaNeueCyr-ThinItalic'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-ThinItalic.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-ThinItalic.woff') format('woff');

}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 200;
  font-style: normal;
  src: local('HelveticaNeueCyr-UltraLight'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-UltraLight.woff') format('woff');

}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 100;
  font-style: normal;
  src: local('HelveticaNeueCyr-Thin'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Thin.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Thin.woff') format('woff');

}
