@import "fonts";

body {
  font-family: Heebo, "Roboto Light", sans-serif;
}

a {
  text-decoration: none;
}

.header__logo {
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.0676924px;

  color: #1F0E93;
}

.menu__link {

  font-weight: 300;
  font-size: 16px;
  line-height: 23px;

  text-align: center;
  letter-spacing: 0.060171px;

  color: #B2B2CD;

}



  .subtitle {

    font-weight: 700;
    font-size: 10px;
    line-height: 15px;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;



    &-red {
      color: #EC4F4F;
    }

    &-gray {
      color: #A1A1A1;

    }

  }

  .title {

    font-family: Heebo;
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 62px;

    text-align: center;
    letter-spacing: 0.157949px;

    &-navy {
      color: #1F0E93;
    }

    &-green {
      color: #0E936E;
    }

    &-orange {
      color: #F86B27;
    }

    &-sm {
      font-size: 32px;
    }
  }

  .text {

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;

    text-align: center;
    letter-spacing: 0.0676924px;

    &-gray {
      color: #B2B2CD;
    }

    &-dark-gray {
      color: #8D88A5;
    }
  }

