@import "side-menu";

.header__logo {
  font-family: HelveticaNeue;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.0676924px;

  color: #1F0E93;
}


  .subtitle {

    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    &-red {
      color: #EC4F4F;
    }

    &-gray {
      color: #A1A1A1;

    }

  }

  .title {

    font-family: Heebo;
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 62px;

    text-align: center;
    letter-spacing: 0.157949px;

    &-navy {
      color: #1F0E93;
    }

    &-green {
      color: #0E936E;
    }

    &-orange {
      color: #F86B27;
    }
  }

  .text {

    font-family: Heebo;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;

    text-align: center;
    letter-spacing: 0.0676924px;

    &-gray {
      color: #B2B2CD;
    }

    &-dark-gray {
      color: #8D88A5;
    }
  }

