@import "fonts";

body {
  font-family: Heebo, "Roboto Light", sans-serif;
  position: relative;
}

a {
  text-decoration: none;
}

.header__container {
  padding: 18px 0;
}
.header__logo {
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.0676924px;

  cursor: auto;

  color: #1F0E93;
}

.menu__link {

  font-weight: 300;
  font-size: 16px;
  line-height: 23px;

  padding: 0 20px;
  text-align: center;
  letter-spacing: 0.060171px;

  color: #B2B2CD;

}

.intro {

  &__wrapper {
    padding: 96px 0 92px;
  }

  &__text {
    max-width: 748px;
    margin: 0 auto 40px;

  }

    &__input-wrapper {
      max-width: 320px;
      width: 320px;
      position: relative;
      height: 100%;
      display: flex;
    }

    &__input {
      padding: 0 70px 0 32px;

    }

  &__icon {
      position: absolute;

    width: 20px;
    height: 16px;
    right: 32px;
    top: 19px;

    img {
      vertical-align: 0;
      width: 20px;
      height: 16px;
    }


  }


    &__btn {
      background: #FFEEEE;
      border-radius: 4px;

      font-family: Heebo;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;

      text-align: center;
      letter-spacing: 0.0526496px;

      color: #EC4F4F;

      padding: 17px 48px;
    }

  }

.promo {
  margin-top: 92px;

  .img {
    width: 1200px;
    height: 100%;
  }
}

.features {

  background-image: url("../img/features-linear-background.png");

  margin-bottom: 65px;

  &-row {
    margin-right: 100px;
  }

  &__main {
    width: 370px;

    .title, .text {
      text-align: left;
    }

    .title {
      margin-bottom: 20px;
    }

    .text {
      margin-bottom: 110px;
    }
  }

  &__photo {
    width: 280px;
    height: 280px;


  }

  &__img-wrapper {
    margin-bottom: 32px;
  }

  &__card {
    max-width: 253px;
    margin-right: 50px;

    &:first-of-type {
      padding-top: 130px;
    }

    &-img {
      &-md {
        transform: scale(2);
        transform-origin: 0 0;
      }
    }

    &-body {
      padding-top: 32px;
    }

    &-title {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.0676924px;

      margin-bottom: 25px;

      &-violet {
        color: #3535C7;
      }

      &-orange {
        color: #F86B27;

      }

      &-red {
        color: #D23244;
      }

      &-blue {
        color: #2B85D7;

      }
    }

    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 28px;

      margin-bottom: 25px;

      color: #8D88A5;
    }

    &-link {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;

      letter-spacing: 0.0526496px;
      text-decoration-line: underline;

      &-violet {
        color: #1F0E93;

      }

      &-orange {
        color: #F86B27;
      }

      &-red {
        color: #D23244;
      }

      &-blue {
        color: #2B85D7;

      }

    }
  }


}
  .subtitle {

    font-weight: 700;
    font-size: 10px;
    line-height: 15px;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;



    &-red {
      color: #EC4F4F;
    }

    &-gray {
      color: #A1A1A1;

    }

    &-orange {
      color: #F86B27;

    }
  }

  .title {

    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 62px;

    text-align: center;
    letter-spacing: 0.157949px;

    color: #FFFFFF;

    &-navy {
      color: #1F0E93;
    }

    &-green {
      color: #0E936E;
    }

    &-orange {
      color: #F86B27;
    }

    &-sm {
      font-size: 32px;
    }

    &-white {
      color: #FFFFFF;
    }
  }

  .text {

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;

    text-align: center;
    letter-spacing: 0.0676924px;

    &-gray {
      color: #B2B2CD;
    }

    &-dark-gray {
      color: #8D88A5;
    }

    &-white {
      color: #FFFFFF;
    }
  }

  .testimonials {

    &__card {
      max-width: 360px;

    }

    &__text {
      text-align:left;

      margin-bottom: 62px;

      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: -97px;
        top: 10px;

        background-image: url("../img/icons/testimonials-quote-ico.svg");


        width: 67px;
        height: 58px;

        background-size: 67px 58px;

      }
    }

    &__subtitle {
      text-align: left;

      margin-bottom: 15px;
    }

    &__name {
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 28px;

      text-align: left;
      letter-spacing: 0.120342px;

      margin-bottom: 15px;

      color: #5F5A76;

      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: -85px;

        background-image: url("../img/icons/testimonials-person-ico.svg");

        width: 44px;
        height: 58px;

        background-size: 44px 58px;
      }
    }

    &__photo {
      position: relative;
      overflow: hidden;
      padding: 0 0 70px 0;


      &:after {
        content: "";
        position: absolute;
        right: -180px;
        bottom: 0;

        width: 463px;
        height: 350px;

        background: linear-gradient(180deg, #8CF7F7 0%, #F76B1C 100%);
        border-radius: 50%;
        transform: rotate(5deg);

        background-size: 463px 350px;

      }
    }

  }

  .socials {
    &__list {

    }

    &__item {
      list-style: none;

      padding: 0 16px 0 0;
    }

    &__link {
      height: 16px;
      width: 16px;
    }
  }

  .contact {

    padding-bottom: 234px;
    //background-image: url("../img/footer-linear-background.png");
    //background-position-y: 103%;

    &__wrapper {
      margin-top: 60px;
      max-width: 588px;
      margin-left: 60px;

      .subtitle,.title,.text {
        text-align: left;
      }
    }

    &__icon {
      position: absolute;
      right: 34px;
      top: 19px;

      &-person {
        width: 12px;
        height: 16px;
      }

      &-mail {
        width: 20px;
        height: 16px;
      }

      &-message {
        position: absolute;
        width: 20px;
        height: 16px;
      }

      img {
        vertical-align: 0;
      }
    }

    &__input-wrapper {
      position: relative;
      margin: 16px 0;
      display: flex;
    }

    &__input {
      padding: 16px 50px 16px 32px;
    }

    &__textarea {
      height: 170px;
    }

    &__btn {
      width: 280px;
      padding: 16px;
      margin: 16px 0;

      background: #FFE5D8;
      border-radius: 4px;

      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;

      text-align: center;

      color: #F86B27;

    }

  }

  .footer {

    &__wrapper {
      background-image: url("../img/footer-background.svg"), url("../img/footer-linear-background.png");
      background-repeat: no-repeat, no-repeat;
      background-position: 0 bottom;
      padding: 134px 0 234px 440px;
      position: absolute;
      bottom: 0;
      z-index: -1;



      .title, .text, .subtitle{
        text-align: left;
      }
    }

    &__logo {

      font-family: HelveticaNeue;
      font-size: 18px;
      line-height: 21px;

      color: #FAFAFA;
    }

    &__copyright {

      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;

      color: #D9B9D2;
    }

  }

.form-control {
  background: #F2F0F6;
  box-shadow: inset 0px 0px 1px rgba(46, 32, 139, 0.23913);
  border-radius: 4px;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;

  letter-spacing: 0.0538462px;

  color: #A09BB6;

}
::placeholder {
  color: #A09BB6;
  font-weight: 300;
  font-size: 14px;

}

